body , div {
    margin: 0;
    padding: 0;
}
/* Ici on défini la marge et padding à 0 pour tout ce qui va impacter le body et div */


div {
    box-sizing: border-box;
    text-align: center;
    line-height: 5vh;
    
    font-size: 12px;
    
}

.dragboxes {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    margin: 30px;
    width: 120px;
    min-width: fit-content;
}
.headerbox {
    border: 1px solid black;
    height: 0px;
    display: none;
}
.navleft {
    background-color: white;
    border: 1px solid black;
    height: 0px;
    display: none;
}
.footerbox {
    border: 1px solid black;
    height: 0px;
    display: none;
}


.header {
    width: 100%;
}


/* VERSION-MOBILE */

.c-1 {
    width: 25%;
}

.c-2 {
    width: 50%;
}

.c-3 {
    width: 75%;
}

.m-1 {
    margin-left: 25%;
}
.m-2 {
    margin-left: 50%;
}
.m-3 {
    margin-left: 75%;
}


/* VERSION-BROWSER */

@media (min-width:576px) {
    .browser-c1 {
        width: 25%;
    }
    
    .browser-c2 {
        width: 50%;
    }
    
    .browser-c3 {
        width: 75%;
    }
    .browser-c4 {
        width: 100%;
    }
    

    .browser-m0 {
        margin-left: 0%;
    }
    .browser-m0-1 {
        margin-left: 10%;
    }
    
    .browser-m-1 {
        margin-left: 5%;
    }
    .browser-m-2 {
        margin-left: 50%;
    }
    .browser-m-3 {
        margin-left: 75%;
    }
    
    .browser-mb-1 {
        margin-bottom: 5%;
    }
    .browser-mb-2 {
        margin-bottom: 15%;
    }
    .browser-mb-3 {
        margin-bottom: 25%;
    }
    .browser-mb-4 {
        margin-bottom: 50%;
    }
    .headerbox {
        border: 1px solid black;
        height: 50px;
        display: block;
    }
    .navleft {
        background-color: white;
        border: 1px solid rgb(0, 0, 0);
        height: 50px;
        display: block;
    }
    .dragboxes {
        height: 134px;
        text-rendering: auto;
        cursor: move;
        flex-grow: 2 ;
        min-width: 10px;
    }
    /* OPACITE DRAGBOXES LORS DU DRAG*/
    .dragboxes.dragging {
        opacity: .5;
    }
    .footerbox {
        border: 1px solid black;
        height: 50px;
        display: block;
    }
    .rightaside {
        flex-grow: 2;
    }

    .browserheader {
        border: 1px solid black;
        display: flex;
        margin-left: inherit;
    }
    
    .browserleft {
        border: 1px solid rgb(255, 255, 255);
        width: 25%;
        
        
    }
    .browserleftbox {
        margin-top: 50px;
        
    }


    .globalmiddle {
        background-color: #333;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        width: 100%;
        height: 100%;
    }

    .middlebigbox {
        border: 1px solid black;
        width: 100%;
        display: flex;
    }

    .middleleftbox {
        min-height: 194px;
        display: flex;
    }


    .rowtest {
        display: flex;
    }

    .bigboxleft {
        margin-left: 10%;
        margin-top: 50px;
        width: 65%;
        display: flex;
        flex-direction: column;
        
    }

    .bigboxright {
        min-height: 40px;
        margin-top: 50px;
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .rightbox {
        display: flex;
        flex-direction: column;
        
    }
    .test {
        flex-grow: 2;
    }

    .leftupbox {
        min-height: 194px;
        display: flex;
    }
    .bottomleftbox {
        min-height: 194px;
        display: flex;
    }

}
